<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.ProductMapper">
	<select id="selectAll" resultType="Product">
		select * from easybuy_product 
	</select>
	
	<select id="selectCount" resultType="int">
		select count(*) from easybuy_product 
	</select>
	
	<select id="selectAllProType" resultType="ProType">
		select * from easybuy_product_category
	</select>
	
	<select id="selectTypeCount" resultType="int">
		select count(*) from easybuy_product_category 
	</select>
	
	<delete id="deleteProType">
		delete from easybuy_product_category where id=#{id}
	</delete>
	<delete id="deletePro">
		delete from easybuy_product where id=#{id}
	</delete>
</mapper>