<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.UserMapper">
	<select id="login" resultType="User">
		select * from easybuy_user where loginName=#{loginName} and password=#{password}
	</select>
	
	<insert id="regist" parameterType="User">
		INSERT INTO easybuy_user (loginName,userName,password,sex,identityCode,email,mobile,money)
		 VALUES (#{loginName},#{userName},#{password},#{sex},#{identityCode},#{email},#{mobile},#{money})
	</insert>
	
	<select id="selectloginName" resultType="User">
		select * from easybuy_user where loginName=#{loginName}
	</select>
	
	<select id="selectvip" resultType="User">
		select * from easybuy_user where type=0
	</select>
	<select id="tatopage" resultType="int">
		select count(*) from easybuy_user where type=0
	</select>
	
	
	<update id="updateUser"  parameterType="User">
		UPDATE easybuy_user SET loginName=#{loginName} , userName=#{userName}, 
		sex=#{sex},identityCode=#{identityCode},email=#{email}, mobile=#{mobile},money=#{money},type=#{type} 
		WHERE id=#{id}
	</update>
	
	<select id="selecUserByID"  parameterType="User">
		select loginName,userName,password,sex,identityCode,email,mobile,money  from where id=#{id}
	</select>
</mapper>