<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easybuy.dao.UserAddressMapper">
	<select id="selectMyDefaultAddress" resultType="UserAddress" parameterType="int">
		select * from easybuy_user_address where userid=#{userID} and isDefault=1
	</select>
</mapper>